<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyf.modules.user.mapper.UserMapper">

    <!--
         引用redis缓存 使用第三方内存数据库Redis作为二级缓存
    -->
    <cache type="com.dyf.system.redis.RedisCache"/>


    <resultMap id="BaseResultMap" type="com.dyf.modules.user.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="avatar" property="avatar" jdbcType="BLOB"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="userRoleDeptMap" type="com.dyf.modules.user.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="avatar" property="avatar" jdbcType="BLOB"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <!-- 机构信息 -->
        <association property="dept" column="dept_id" javaType="com.dyf.modules.dept.entity.Dept"
                     select="com.dyf.modules.dept.mapper.DeptMapper.selectOneById"/>
        <!-- 角色信息 -->
        <collection property="roles" ofType="com.dyf.modules.role.entity.Role" javaType="java.util.List"
                    select="com.dyf.modules.role.mapper.RoleMapper.getRoleListByUserId" column="id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        dept_id,
        user_name,
        real_name,
        password,
        mobile,
        email,
        gender,
/*        avatar,
*/        birthday,
        status,
        create_by,
        create_date,
        update_by,
        update_date,
        remarks
    </sql>


    <!-- 查询用户列表,用户信息,机构ID,机构名称, -->
    <select id="findList" resultMap="BaseResultMap" parameterType="com.dyf.modules.user.entity.User">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            status != '1'
            <if test="userName != null and userName !=''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="realName != null and realName !=''">
                and real_name like concat('%',#{realName},'%')
            </if>
            <if test="email != null and email !=''">
                and email like concat('%',#{email},'%')
            </if>
            <if test="gender != null and gender !=''">
                and gender = #{gender}
            </if>
            <if test="status != null and status !=''">
                and status = #{status}
            </if>
            <if test="deptId != null and deptId !=''">
                and ( dept_id = #{deptId}
                or dept_id in
                (select id from sys_dept
                where FIND_IN_SET( #{deptId}, parent_ids)
                )
                )
            </if>
        </where>
        order by update_date desc
    </select>

    <!-- 通过用户姓名查询(只为登录)  -->
    <select id="getByUserName" resultMap="userRoleDeptMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from sys_user where status != '1' and user_name = #{userName}
    </select>

    <!-- 查询用户信息,详细信息, 机构,角色,菜单 -->
    <select id="selectOneById" parameterType="string" resultMap="userRoleDeptMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user where status != '1' and id = #{id}
    </select>

    <!-- 查询用户头像 -->
    <select id="getAvatarById" parameterType="string" resultMap="BaseResultMap">
        select
        id , avatar
        from sys_user where status != '1' and id = #{id}
    </select>


    <!-- 逻辑删除 -->
    <update id="deleteLogicalById" parameterType="java.lang.String">
        update sys_user set status='1' where id = #{id}
    </update>

    <!-- 批量逻辑删除 -->
    <update id="deleteLogicalByIdList" parameterType="list">
        update sys_user set status='1' where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


    <insert id="insert" parameterType="com.dyf.modules.user.entity.User">
    insert into sys_user (
          id,
          dept_id,
          user_name,
          real_name,
          password,
          mobile,
          email,
          gender,
          avatar,
          birthday,
          status,
          create_by,
          create_date,
          update_by,
          update_date,
          remarks
          )
        values (
          #{id},
          #{deptId},
          #{userName},
          #{realName},
          #{password},
          #{mobile},
          #{email},
          #{gender},
          #{avatar},
          #{birthday},
          #{status},
          #{createBy},
          #{createDate},
          #{updateBy},
          #{updateDate},
          #{remarks}
          )
    </insert>

    <update id="update" parameterType="com.dyf.modules.user.entity.User">
        update sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
