<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <!--shiroFilter 和web.xml中保持一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- shiro的核心安全接口-->
        <property name="securityManager" ref="securityManager"/>
      <!--  &lt;!&ndash; 身份认证失败 &ndash;&gt;
        <property name="loginUrl" value="/login.jsp"/>
        &lt;!&ndash; 认证成功&ndash;&gt;
        <property name="successUrl" value="/index.jsp"/>
        &lt;!&ndash; 权限认证失败&ndash;&gt;
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>-->
        <!-- 过滤链 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源放行-->
                /static/** = anon
                /sys/login = anon <!--anon表示不需要认证就可以访问的     -->
               <!-- /home = authc, perms[/home]-->  <!--authc 表示需要认证才能访问的页面 perms 表示需要该权限才能访问的页面 -->
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 安全管理, 被filter引用,  他引用了myRealm -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启Shiro注解 - AOP式方法级权限检查 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
          <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


    <!-- 自定义Realm -->
    <bean id="myRealm" class="com.dyf.shiro.MyRealm">
    </bean>


</beans>